<h1>Movies</h1>

<% if @movie.present? %>
  <ul>
    <% @movie.each do |m| %>
    <%if Range.new(@start_date,@end_date) === m.release_date%>
      <li>
        <%= link_to m.name,movie_path(m) %>
        &mdash;
        <%= m.release_date%>
        
      </li>
    <% end %>
    <% end %>
  </ul>
<% end %>
<%= link_to 'Back to movies' ,movies_path %>
</br>
<%= link_to 'Back' ,:back %>
