<h1>add movies to  <%= @director.name%></h1>

<% if @movies.present? %>
  <ul>
    <% @movies.each do |m| %>
      <li>
        <%= link_to m.name,movie_path(m) %>
        &mdash;
        <%= link_to "Add",add_to_director_director_path(@director, movie_id: m.id) %>
        
      </li>
    <% end %>
  </ul>
<% end %>

<%= link_to "Back to directors",directors_path %>
